.Index{
    background: #7D665A;
    display: flex;
    flex-direction: column;
    height: 100%; /* La altura del viewport */
    width: auto;
}

.cabeza{
    background: #000b16;
}

.Portada{
    width: 100%;
    height: 100%;
}